@import '../../styles/variables';

.menu-info {
  font-size: 1rem;
  display: flex;
  max-width: none;

  &__avatar {
    width: 6em;
    height: 6em;
    margin: auto;
    border-radius: 500px;
  }

  &__right-content {
    margin-left: 2em;
  }

  &__name {
    font-weight: 500;
    font-size: 1.4em;
    margin: 0.5em 0;
  }

  &__summary {
    line-height: 1.3em;
    font-size: 0.9em;
    opacity: 0.8;
  }
}

@media screen and (min-width: $tablet) {
  .menu-info {
    display: block;
    max-width: 18em;

    &__right-content {
      margin-left: 0;
    }

    &__avatar {
      width: 8em;
      height: 8em;
    }
  }
}
