@import '../../styles/variables';

.menu-info {
  font-size: 1rem;
  max-width: none;

  &__top-content {
    display: flex;
  }

  &__social-media {
    display: flex;
    justify-content: flex-end;
  }

  &__avatar {
    width: 6em;
    height: 6em;
    margin: auto;
    border-radius: 500px;
  }

  &__right-content {
    margin-left: 2em;
    text-align: right;
  }

  &__name {
    font-weight: 500;
    font-size: 1.4em;
    margin: 0.5em 0;
  }

  &__summary {
    line-height: 1.3em;
    font-size: 0.9em;
    opacity: 0.8;
  }
}

@media screen and (min-width: $tablet) {
  .menu-info {
    max-width: 18em;

    &__top-content {
      display: block;
    }

    &__social-media {
      margin-top: .5em;
      justify-content: flex-start;
    }

    &__right-content {
      margin-left: 0;
      text-align: left;
    }

    &__avatar {
      width: 8em;
      height: 8em;
    }
  }
}
