{
  "plugins": ["react-hooks"],
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "rules": {
    "lines-between-class-members": "off",
    "class-methods-use-this": "off",
    "react-hooks/rules-of-hooks": "error"
  }
}
