$primary: #f08a8a;
$info: #20a39e;
$background: #282c34;

@import '../../node_modules/bulma/sass/utilities/initial-variables';
@import '../../node_modules/bulma/sass/utilities/functions';
@import '../../node_modules/bulma/sass/utilities/derived-variables';
@import '../../node_modules/bulma/sass/utilities/mixins';
@import '../../node_modules/bulma/sass/utilities/controls';
