@import '../../styles/variables';

.page-not-found {
  font-size: 1rem;

  &__message {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__code {
    margin-right: $gap / 2;
    font-weight: 500;
    font-size: 10em;
  }

  &__info {
    font-size: 4em;
    max-width: 5em;
  }

  @media(max-width: $tablet) {
    font-size: .7rem;

    &__info {
      font-size: 3em;
    }
  }
}
