@import '../../styles/variables';

.article-list {
  font-size: 1rem;
  padding: 1em 0;

  ul {
    font-size: 1.4em;
  }

  &__nav {
    padding-bottom: 1em;
    border-bottom: 1px solid $border;
  }

  &__container {
    margin-top: 1em;
  }
}

@media screen and (min-width: $tablet) {
  .article-list {
    display: flex;
    padding: 2.5em 0;

    &__container {
      margin-top: 0;
      margin-left: 4em;
    }

    &__nav {
      border-bottom: none;
      margin-right: 1em;
      position: relative;
      &:after {
        position: absolute;
        content: '';
        top: -2.5em;
        right: -1em;
        width: 1px;
        height: 25em;
        background: linear-gradient(180deg, $background 0, $border 20%, $border 60%, $background);
      }
    }
  }
}
