@import '../../styles/variables';

.article-list {
  font-size: 1rem;

  ul {
    font-size: 1.4em;
  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: center;

    & > * {
      &:not(:first-child) {
        margin-left: $gap;
      }
    }
  }
}
